.categoryLinks {
  position: absolute;
  left: 17%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.categoryLinks div {
  background-color: rgb(211, 211, 211);
  /* border: 2px solid rgb(165, 165, 165); */
  border-radius: 20px;
  padding: 5px 10px;
  color: black;
}

@media only screen and (max-width: 900px) {
  .categoryLinks {
    display: none;
  }
}
