.header {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header_logo {
    height: 30px;
    object-fit: contain;
    margin-left: 30px;
}

.header_input {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px 15px;
}

.header_input > input {
    flex: 1;
    border: none;
    font-size: 16px;
}

.input_button {
    width: 50px !important;
    height: 100%;
    background-color: #fafafa;
    border-left: 1px solid lightgrey;
    color: grey;
}

.header_icons {
    display: flex;
    align-items: center;
}

.header_icon {
    margin-right: 30px;
}