.VideoCard {
  width: 270px;
  margin-bottom: 40px;
}

.videoCard_thumbnail {
  height: 140px;
  width: 250px;
}

.video_Info {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.videoCard_text {
    margin-left: 15px;
}

.videoCard_text > h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.videoCard_text > p {
    font-size: 12px;
    color: grey;
}

.video_avatar {
    width: 30px !important;
    height: 30px !important;
}
