.recommendedVideos {
  /* sidebar takes up 0.2 */
  flex: 1;
  /* height: 100%; */
  margin-left: 50px;
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 0;
}

.recommendedVideos > h2 {
  margin: 0 5px 20px 0;
}
